.ioy{
    background-color: aqua;
}
ul li a:hover{
    font-size: 120%;
    background-color: rgb(235, 233, 231);
    border-radius: 30px;
}
.hgf{
    margin-bottom: 20px;
    margin-top: 20px;
    margin: 30px 90px;
    padding: 30px 30px;
    box-shadow: 0px 0px 4pc yellow;
}
.card-body img{
    border-radius: 20px;
}
.kk{
    text-align: center;
    text-decoration: underline yellowgreen;
}
.tyr{
text-align: center;


}

.aa{
     margin: 30px 90px;
    padding: 30px 30px;
    box-shadow: 0px 0px 4pc yellow;
}
.kkn{
    text-align: center;
    text-decoration: underline yellowgreen;
    margin-bottom: 10px;
}
.mhgdf{
    margin-top: 10px;
}

.nmjhgf{

    margin-bottom: 20px;
}


